.recallingRuleEdit {
  padding: 0px 20px;
  display: grid;
  gap: 20px;

  & .title {
    color: var(--text-secondary, #71737f);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  & .inputs {
    display: grid;
    gap: 16px;
    z-index: 0;

    & .option {
      border: 1px solid var(--border-default, #e9e9eb);
      border-radius: 12px;
      cursor: pointer;
      display: grid;
      flex: 1;
      gap: 8px;
      padding: 8px 10px;

      & .label {
        font-size: 18px;
        text-align: center;
      }

      &:has(:checked) {
        border: 2px solid var(--action-main);
        padding: 7px 9px;

        &::before {
          border-radius: 10px;
          box-shadow: none;
          height: calc(100% - 4px);
          width: calc(100% - 4px);
        }

        & .label {
          font-weight: bold;
        }
      }

      & .input {
        display: none;
      }
    }

    & .contents {
      display: flex;
      gap: 4px;
    }
  }
}
