.visitScheduleEdit {
  display: grid;
  grid-template-columns: minmax(0, 300px) 1fr;

  & .selectPanel {
    max-height: 600px;
    overflow-y: auto;
  }

  & .editPanel {
    min-width: 0;
    max-height: 600px;
    overflow-y: auto;
  }
}
