.passwordInput {
  & .passwordInputBody {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    position: relative;

    & > *:not(button) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    & > button.toggleButton {
      display: grid;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      height: 56px;
      place-content: center;
      position: relative;
      width: 56px;
    }
  }

  & .policy {
    color: var(--text-secondary, #71737f);
    font-size: 12px;
    margin-top: 6px;
  }
}
