.menubarContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 60px;
  width: 160px;

  & .menuContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px var(--gray-100) solid;
    width: 160px;

    & .links {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      width: 100%;

      & .linkContainer {
        &._currentLink {
          background-color: var(--action-bg);
          border-left: 10px var(--action-main) solid;
        }
      }

      & .link {
        display: flex;
        align-items: center;
        padding: 10px;

        & .linkIcon {
          display: flex;
          align-items: center;
          margin-right: 10px;
          color: var(--gray-1000);
        }

        &:hover {
          background-color: var(--action-bg);
        }
      }
    }
  }
}
