._isCancelled {
  background-color: var(--incorrect-bg);
}
.container {
  display: grid;
  padding: 0 16px;

  & .heading {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 0;

    & .recalling {
      display: flex;
      gap: 8px;
    }
  }

  & .cancel {
    text-align: center;
    color: var(--incorrect-main);
  }

  & .title {
    font-size: 20px;
    font-weight: bold;
  }
  & .list {
    display: grid;
    width: 100%;
    margin-bottom: 16px;

    & .info {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    & .row {
      align-items: center;
      display: grid;
      grid-template-columns: 150px 1fr;
      padding: 16px;

      & .item {
        font-weight: bold;
      }

      & ._category {
        display: flex;
        gap: 8px;
      }

      & .link {
        &:hover {
          color: var(--action-main);
        }
      }
    }
  }
}
