.userEdit {
  display: grid;
  gap: 20px;
  place-items: center;

  & .searchInput {
    border-radius: 8px;
    cursor: text;
    font-size: 16px;
    font-weight: bold;
    outline: 0;
    padding: 0px 20px;
    resize: none;
    text-align: center;
    transition: 0.2s background-color;
    width: 100%;
    word-break: break-word;

    &:not(:focus):hover {
      background-color: var(--gray-10);
    }

    &[data-placeholder]::before {
      color: var(--text-disabled);
      content: attr(data-placeholder);
    }

    &::placeholder {
      color: var(--text-disabled, #bcbdc1);
    }
  }

  & .table {
    overflow-x: auto;
    width: 100%;

    & .userRow {
      grid-template-columns: 1fr 1fr;
    }
    & .option {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      border: 1px solid var(--border-default, #e9e9eb);
      border-radius: 12px;
      cursor: pointer;
      display: grid;
      flex: 1;
      gap: 16px;
      padding: 8px 8px;

      & .label {
        font-size: 18px;
      }

      &:has(:checked) {
        border: 2px solid var(--action-main);
        padding: 7px 7px;

        &::before {
          border-radius: 10px;
          box-shadow: none;
          height: calc(100% - 4px);
          width: calc(100% - 4px);
        }

        & .label {
          font-weight: bold;
        }
      }

      & .input {
        display: none;
      }
    }
  }
}
