.pageContainer {
  height: 100dhv;

  & .left {
    display: flex;
    place-items: center;
    width: 100%;
    gap: 8px;
  }

  & .right {
    display: flex;
    align-items: center;
    gap: 8px;

    & .pullDown {
      width: 80px;
    }
  }
}
