.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 200px;
  height: calc(100dvh - 60px);

  & .calender {
    position: relative;
    height: 100%;
    overflow-x: auto;
  }

  & .timeGridDayContainer {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    position: relative;

    & ::-webkit-scrollbar {
      display: none;
    }

    & .parentContainer {
      position: sticky;
      left: 0px;
      /* カレンダーの時間軸と揃うように調整 */
      padding-top: 17px;
      box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.4);
      border-top: 1px var(--gray-200) solid;

      & .parentBody {
        display: flex;
        flex-direction: column;
        width: 43px;
        overflow-y: scroll;
        height: 100%;
      }
    }

    & .timeGridDay {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 120px;
      height: 100%;
      z-index: 1;
      position: relative;

      & .name {
        text-align: center;
        width: 100%;
        padding: 8px;
        position: sticky;
        top: 0px;
        background-color: var(--gray-0);
        color: var(--gray-500);
        z-index: 3;
        font-weight: 900;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px var(--gray-200) solid;
      }
    }
  }
}
